/* colors */

:root {
  --bg-color: #ffffff;

  --color-1: #ffffff;
  --color-2: #e3f1af;
  --color-3: #4bc84b;
  --color-4: #71da35;
  --color-5: #cff1af;

  --logo-URL: url("https://jayppo.github.io/CSS/source/CI.png");
  --logo-Width: 158px;
  --logo-Height: 50px;

  --icon-URL: url("https://jayppo.github.io/CSS/source/icon.png");
}


/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); */

html {
    height:auto !important;
    background: linear-gradient(to bottom, var(--color-1), var(--color-2), var(--color-3));
}
body {
    background: transparent;
    /* font-family: 'Spoqa Han Sans';  */
}

/* logo */
header .row > div:nth-child(1) > a {
    background-repeat: no-repeat; display: block; width: var(--logo-Width); height: var(--logo-Height);
    background-image: var(--logo-URL); }
header .row > div:nth-child(1) > a img { opacity: 0; }

/* DefaultColor */
header #header-bar { margin-top: 0.2em; margin-bottom: 1em; padding-right: 30px; padding-left: 30px; }

/* search box color  */
header #right-search-form > #right-search-btn { color: var(--color-3); background: transparent; border: none; font-size: 1.4em; }
header #right-search-form > input[type=text] { position: relative; border: 3px solid var(--color-3); background: var(--color-1); font-size: 1.1em; padding: 0.3em 0.5em; }

/* header-bar */
/* header #header-bar > .row { padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid var(--color-4); background: #d4eeff; border-bottom: 2px solid #ebeae8; border-right: 2px solid #ebeae8 } */
header #header-bar > .row {
    padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid var(--color-5);
    background: -webkit-linear-gradient(45deg, var(--color-3) 0%,var(--color-5) 11%,var(--color-2) 100%);
    border-bottom: 2px solid var(--color-1); border-right: 2px solid var(--color-1) }

/*advertisement tag */
header #header-bar #header-top-notice strong.notice-badge {
   background: var(--color-4); padding: 4px 8px; color: var(--color-1); font-weight: bold
}

/* eye pos */
#article-list #article-option-area>#article-option-area-toggle-btn { position: relative; right: 14px; }

/* hot post background */
#article-list > .article-list-row.hot { 
    background:-webkit-linear-gradient(135deg, var(--color-3) 0%,var(--color-5) 11%,var(--color-1) 40%,var(--color-1) 90%,var(--color-5) 95%,var(--color-3) 100%); 
}

/* tgd menu box */
#main .menu-wrapper > .header {
    background: -webkit-linear-gradient(45deg, var(--color-3) 10%,var(--color-5) 100%);
    color: var(--color-1); padding: 0.45em 1.4em 0.45em 1em; font-weight: bold; border-radius: 10px 10px 0 0;}
#main .menu-wrapper > a > em { color: var(--color-2);}
#main .menu-wrapper > a > i.fa.fa-square { color:var(--color-2); }

/* remove nav box border */
header #header-bar > .row,
#main .menu-wrapper,
#main #main-content > div.frame {
  border-right: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

/* nav box category distribute */
#main .menu-wrapper .spacer {
  background: rgba(95,02,22,0);
  height: 4px;
}

/* main shadow */
header #header-bar > .row {
  box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
  border-radius: 0 0 15px 15px;
}
#main #main-content > div.frame {
    box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
    border-radius: 0 0 15px 15px;
    background: -webkit-linear-gradient(135deg, var(--color-1) 0%,var(--color-1) 99%, var(--color-5) 99%,var(--color-3) 100%);
}

/* notice post mouse hovered */
#article-list > .article-list-row.notice:hover { animation: 30s anim_hovered_background; }

.pagination > li > a:hover { animation: infinite AquaLinkBG 1.5s; }
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{ background-color: var(--color-4); border-color: var(--color-4); }

#article-content-wrapper > .header { border-top: 3px solid var(--color-4); background: var(--color-5); }
#article-content-wrapper > .footer { border-bottom: 3px solid var(--color-4); background: var(--color-5); }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: var(--color-5); text-decoration: none; font-size: 12px; font-weight: bold }
#article-list #article-list-category > a:hover { animation: infinite AquaLinkBG 1.5s; }

/* category background */
#article-list #article-list-category { border-top: 3px solid var(--color-4); background:  -webkit-linear-gradient(45deg, var(--color-5) 0%,var(--color-5) 80%,var(--color-3) 100%); }

#article-reply-area #reply-real-area .reply > .reply-header { background: var(--color-5); }
#article-reply-area > .header h5 { font-size: 14px; color: var(--color-4); font-weight: bold; }

/* like highlighter */
#article-list > .article-list-row > .item > .list-header > span { background-color: var(--color-4); color: var(--color-1); font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 100px }
/* #article-list > .article-list-row > .item > .list-header.v10 > span { background-color: var(--color-4); color: #fff; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 100px } */

/* viewers */
#board-info #viewers-area #viewers:before { content: "CSS 공부중 "; cursor: text; }
#board-info #viewers-area #viewers:after { content:"분 힘내요!"; cursor : text; }

/* profile border */
#board-info #board-info-profile-img { border: 2px solid var(--color-4); border-radius: 30%; width: 50px; height: 50px; }

/* badge at viewer box */
#board-info #viewers-area .fa-user:before { color: rgba(95,02,22,0); content: var(--icon-URL); }

/* ButtonAnim */
.btn-primary { background: var(--color-4); border-color: var(--color-1); }
.btn-primary:hover { animation: infinite rainbowLinkBG 3s; }

/* keyframe animations */
@keyframes rainbowLink {
    0% { color: #ff2a2a; }
    15% { color: #ff7a2a; }
    30% { color: #ffc52a; }
    45% { color: #43ff2a; }
    60% { color: #2a89ff; }
    75% { color: #202082; }
    90% { color: #6b2aff; }
    100% { color: #e82aff; }
}
@keyframes rainbowLinkBG {
    0% { background-color: #ff2a2a; }
    15% { background-color: #ff7a2a; }
    30% { background-color: #ffc52a; }
    45% { background-color: #43ff2a; }
    60% { background-color: #2a89ff; }
    75% { background-color: #202082; }
    90% { background-color: #6b2aff; }
    100% { background-color: #e82aff; }
}
@keyframes AquaLinkBG {
    0% { background-color: var(--color-5); }
    40% { background-color: var(--color-4); }
    100% { background-color: var(--color-5); }
}
@keyframes anim_hovered_background {
    0% { background-color: #f3f3f3; }
    1% { background-color: var(--color-5); }
}
