@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html {
    height:auto !important;
    background: linear-gradient(to bottom, #ffffff, #e3f1af, #bacf6d);
}
body {
    background: transparent;
    font-family: 'Spoqa Han Sans'; 
}

/* logo */
header .row > div:nth-child(1) > a {
    background-repeat: no-repeat; display: block; width: 158px; height: 50px;
    background-image: url(https://jayppo.github.io/CSS/source/CI.png); }
header .row > div:nth-child(1) > a img { opacity: 0; }

/* DefaultColor */
header #header-bar { margin-top: 0.2em; margin-bottom: 1em; padding-right: 30px; padding-left: 30px; }

/* search box color  */
header #right-search-form > #right-search-btn { color: #bacf6d; background: transparent; border: none; font-size: 1.4em; }
header #right-search-form > input[type=text] { position: relative; border: 3px solid #bacf6d; background: #fff; font-size: 1.1em; padding: 0.3em 0.5em; }

/* header-bar */
/* header #header-bar > .row { padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid #71da35; background: #d4eeff; border-bottom: 2px solid #ebeae8; border-right: 2px solid #ebeae8 } */
header #header-bar > .row {
    padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid #cff1af;
    background: -webkit-linear-gradient(45deg, #bacf6d 0%,#cff1af 11%,#cbdced 100%);
    border-bottom: 2px solid #ebeae8; border-right: 2px solid #ebeae8 }

/*advertisement tag */
header #header-bar #header-top-notice strong.notice-badge {
   background: #71da35; padding: 4px 8px; color: #fff; font-weight: bold
 }

/* tgd menu box */
#main .menu-wrapper > .header {
    background: -webkit-linear-gradient(45deg, #bacf6d 10%,#cff1af 100%);
    color: #fff; padding: 0.45em 1.4em 0.45em 1em; font-weight: bold; border-radius: 10px 10px 0 0;}
#main .menu-wrapper > a > em { color: #e3f1af;}
#main .menu-wrapper > a > i.fa.fa-square { color:#e3f1af; }

/* remove nav box border */
header #header-bar > .row,
#main .menu-wrapper,
#main #main-content > div.frame {
  border-right: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

/* nav box category distribute */
#main .menu-wrapper .spacer {
  background: rgba(95,02,22,0);
  height: 4px;
}

/* main shadow */
header #header-bar > .row {
  box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
  border-radius: 0 0 15px 15px;
}
#main #main-content > div.frame {
    box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
    border-radius: 0 0 15px 15px;
    background: -webkit-linear-gradient(135deg, #ffffff 0%,#ffffff 99%, #cff1af 99%,#bacf6d 100%);
}

/* notice post mouse hovered */
#article-list > .article-list-row.notice:hover { animation: 30s anim_hovered_background; }

.pagination > li > a:hover { animation: infinite AquaLinkBG 1.5s; }
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{ background-color: #71da35; border-color: #71da35; }

#article-content-wrapper > .header { border-top: 3px solid #71da35; background: #cff1af; }
#article-content-wrapper > .footer { border-bottom: 3px solid #71da35; background: #cff1af; }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: #cff1af; text-decoration: none; font-size: 12px; font-weight: bold }
#article-list #article-list-category > a:hover { animation: infinite AquaLinkBG 1.5s; }

/* category background */
#article-list #article-list-category { border-top: 3px solid #71da35; background:  -webkit-linear-gradient(45deg, #cff1af 0%,#cff1af 80%,#bacf6d 100%); }

#article-reply-area #reply-real-area .reply > .reply-header { background: #cff1af; }
#article-reply-area > .header h5 { font-size: 14px; color: #71da35; font-weight: bold; }

/* like highlighter */
#article-list > .article-list-row > .item > .list-header > span { background-color: #71da35; color: #ffffff; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 100px }
/* #article-list > .article-list-row > .item > .list-header.v10 > span { background-color: #71da35; color: #fff; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 100px } */

/* viewers */
#board-info #viewers-area #viewers:before { content: "CSS 공부중 "; cursor: text; }
#board-info #viewers-area #viewers:after { content:"분 힘내요!"; cursor : text; }

/* profile border */
#board-info #board-info-profile-img { border: 2px solid #71da35; border-radius: 30%; width: 50px; height: 50px; }

/* badge at viewer box */
#board-info #viewers-area .fa-user:before { color: rgba(95,02,22,0); content: url("https://jayppo.github.io/CSS/source/icon.png"); }

/* ButtonAnim */
.btn-primary { background: #71da35; border-color: #ffffff; }
.btn-primary:hover { animation: infinite rainbowLinkBG 3s; }

/* keyframe animations */
@keyframes rainbowLink {
    0% { color: #ff2a2a; }
    15% { color: #ff7a2a; }
    30% { color: #ffc52a; }
    45% { color: #43ff2a; }
    60% { color: #2a89ff; }
    75% { color: #202082; }
    90% { color: #6b2aff; }
    100% { color: #e82aff; }
}
@keyframes rainbowLinkBG {
    0% { background-color: #ff2a2a; }
    15% { background-color: #ff7a2a; }
    30% { background-color: #ffc52a; }
    45% { background-color: #43ff2a; }
    60% { background-color: #2a89ff; }
    75% { background-color: #202082; }
    90% { background-color: #6b2aff; }
    100% { background-color: #e82aff; }
}
@keyframes AquaLinkBG {
    0% { background-color: #cff1af; }
    40% { background-color: #71da35; }
    100% { background-color: #cff1af; }
}
@keyframes anim_hovered_background {
    0% { background-color: #f3f3f3; }
    1% { background-color: #cff1af; }
}