/* go to top */

#movetotop img {
    display:none
}
#movetotop {
    display: inline-block;
    opacity:1;
    background: var(--go-to-top-img);
    width: 80px;  
    height: 80px;
    background-size: contain;
}